/* app/globals.css */

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-sc-background: #121212;
  --color-sc-text: #FFFFFF;
  --color-sc-secondary: #C4C4C4;
  --color-sc-tertiary: #888888;
  --color-sc-accent: #954BFF;
  --color-sc-card-bg: #1e1e1e;

  --color-player-bg: #C4C4C4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-montserrat), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}